.main-hero {
  position: relative;
  margin-bottom: 100px;
}

.main-hero img {
  width: 100%; 
  display: block;
}

.search__container {
  position: absolute; 
  top: 50%;  
  left: 50%;  
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 100%;
}

.input__search input {
  max-width: 380px;
}


.btn__search {
  margin-top: 20px;
  font-size: 20px;
  border-radius: 5rem;
  letter-spacing: -0.05em;
  background-color: var(--clr-rose);
  color: var(--clr-light);
  padding: 0.5em 1em;
  box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5),
  0 6px 6px rgba(255, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
  transition: transform 0.3s, box-shadow 0.3s;
  font-size: 24px;
  cursor: pointer;
}

h2, h3, h4, h5, h6 {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--clr-rose);
}
.btn__search:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25),
  0 10px 10px rgba(255, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}

@media (max-width: 480px) {
  .input__search {
padding-top: 100px !important;

  }


  .main-hero {
    margin-bottom: 100px !important;
  
}
 .input__search {
    font-size: 14px !important;
  }
}
